/* reset */

/* utils */

/* common */
body {
  width: 100vw; height: 100vh;
  background: url(../img/bg.jpg) no-repeat;
  background-size: 750px 1334px;
}

.wrapper {
  height: 100%;
  .swiper-container, .swiper-wrapper, .swiper-slide {
    height: 100%;
  }
}