/* reset */

/* utils */

/* common */
body {
  width: 100vw; height: 100vh;
  background: #000 url(../img/bg.jpg) no-repeat center center ;
  background-size: 750px 1334px;
}
.wrapper {
  height: 100%; width: 100%;
   .swiper-container {
    height: 100%;  width: 100%;
    & > .swiper-wrapper {
      height: 100%;  width: 100%;
      & > .swiper-slide {
        height: 100%; position: relative;
        overflow: hidden; padding-top: 1px; 
      }
    }
  }
}

.wrap-center {
  position: absolute; left: 0; width: 100%;
  top: 50%; transform: translateY(-50%); z-index: 2;
}
.arrow {
  position: fixed; z-index: 100;
  width: 38px; height: 22px;
  bottom: 36px; left: 50%; margin-left: -19px;
  background: url(../img/arrow.png) no-repeat;
  background-size: 38px 22px;
  animation: arrowAnimate 1.6s  infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}


.animate-bg {
  position: absolute; z-index: 1;
  width: 708px; height: 836px;
  background: url(../img/start.png) no-repeat;
  background-size: 708px 836px;
  top: 0; left: 50%; margin-left: -354px;
  animation: rotateStar infinite 10s cubic-bezier(0.23, 1, 0.32, 1);
  ;
  transform-origin: center center;
}

/* slide1 */
.slide1 {
  .title {
    transform: translateY(0);
    h1 { font-size: 50px; font-weight: bold; color: #268df3; text-align: center; }
    .onenet {
      width: 399px; height: 76px; 
      margin: 44px auto; 
      background: url(../img/slide1/onenet1.png) no-repeat 0 0;
      background-size: 399px 76px;
    }
  }
  .arrow-tit {
    position: absolute; z-index: 3;
    width: 148px; font-size: 24px; color: #d3d3d3;
    bottom: 90px; left: 50%; transform: translateX(-74px);
    p:last-child { margin-top: 14px;}
  }
  &.animate {
    .arrow-tit {
      animation: arrowTitAnimate 1.2s;
    }
    .title {
      h1 { }
      animation: titleAni 600ms; 
    }
  }
}

@keyframes titleAni {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes arrowTitAnimate {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }

  100% {
    opacity: 1;
    transform: translateX(-74px);
  }
}

@keyframes rotateStar {
  0% {
    transform: rotateX(0deg) scale(1, 1);
  }
  100% {
    transform: rotate(-360deg) scale(0.8, 0.8);
  }
}

@keyframes arrowAnimate {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
}