.slide10 {
  .slide-title {
    height: 50px;
    background: url(../img/slide10/slide-tit-bg.png) no-repeat center center;
    background-size: 204px 50px;
  }
  .slide-switch {
    margin-top: 54px;
    .switch-tab {
      width: 672px; height: 48px; margin: 0 auto;
      & > a {
        float: left; height: 48px; line-height: 48px;
        color: #fff; font-size: 22px; vertical-align: center;
        margin: 0 12px;
        position: relative;
        transition: all 600ms;
        &:first-child {
          margin-left: 0;
        }
        &.last-child {
          margin-right: 0;
        }
        &:before, &:after {
          content: ''; width: 11px; position: absolute;
          background: none; top: 50%; height: 0; transform: translateY(-50%);
          transition: all 600ms;
        }
        &:before {
          left: -11px;
          background: url(../img/slide10/active-left.png) no-repeat 0 center;
          background-size: 11px 49px;
        }
        &:after {
          background: url(../img/slide10/active-right.png) no-repeat 0 center;
          background-size: 11px 46px;
          right: -11px;
        }
        &.active {
          font-size: 26px; font-weight: bold; color: #268df3;
          &:before, &:after {
            height: 48px; 
          }
        }
      }
    }
    .switch-container {
      width: 630px; height: 952px;
      margin: 34px auto 0;
      border-radius: 12px; box-shadow: 0 0 12px 2px #0133b6;
      overflow: hidden; position: relative;
      .tranform-wrap {
        width: 3780px; height: 952px;
      }
      .switch-item {
        width: 630px; height: 952px; float: left;
        transition: transform 600ms;
        &.active {
          
        }
      }
      .switch-page {
        span {
          width: 12px; height: 12px;
          background: #76787a;
        }
        .swiper-pagination-bullet-active {
          background: #fff;
        }
      }
      .switch-item1 {
        .sw-i-1 {
          background: url(../img/slide10/item1-1.png) no-repeat;
          background-size: 629px 952px;
        }
        .sw-i-2 {
          background: url(../img/slide10/item1-2.png) no-repeat;
          background-size: 630px 953px;
        }
      }
      .switch-item2 {
        .sw-i-1 {
          background: url(../img/slide10/item2-1.png) no-repeat;
          background-size: 629px 952px;
        }
        .sw-i-2 {
          background: url(../img/slide10/item2-2.png) no-repeat;
          background-size: 631px 953px;
        }
      }
      .switch-item3 {
        .sw-i-1 {
          background: url(../img/slide10/item3-1.png) no-repeat;
          background-size: 630px 953px;
        }
        .sw-i-2 {
          background: url(../img/slide10/item3-2.png) no-repeat;
          background-size: 630px 952px;
        }
      }
      .switch-item4 {
        .sw-i-1 {
          background: url(../img/slide10/item4.png) no-repeat;
          background-size: 630px 953px;
        }
      }
      .switch-item5 {
        .sw-i-1 {
          background: url(../img/slide10/item5.png) no-repeat;
          background-size: 630px 953px;
        }
      }
      .switch-item6 {
        .sw-i-1 {
          background: url(../img/slide10/item6.png) no-repeat;
          background-size: 630px 953px;
        }
      }
    }
  }
}